# --- DATABASE CONFIG ---
# Hostnya 'db_service' sesuai nama service di docker-compose
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# --- APP CONFIG ---
# Identitas Kelompok (Biar container namenya unik)
# Contoh: A1, B2, C3, dst.
GROUP_NAME=

# Jatah Port Server (Sesuai tabel pembagian)
# Contoh: 2581, 2582, dst.
APP_PORT=