</main>
<footer class="py-8 text-center border-t border-neutral-800 mt-8 mb-4">
  <div class="flex justify-center items-center gap-2 mb-2">
    <img src="https://registrasimaba.umy.ac.id//assets/template/img/logo_umy_horisontal.png" alt="h-7">
  </div>
  <p class="text-neutral-600 text-xs font-medium">
    &copy; 2024 Group B6 Final Project.
  </p>
</footer>

</div>
</body>

</html>